
@{
    Layout = null;
}

<!DOCTYPE html>
@model HTquanlyNCKH.Models.Place
@using (Html.BeginForm("PlaceStoreOrEdit", "Scientist", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(model => model.placeID)
    @Html.HiddenFor(model => model.plaCreateDate)
    @Html.HiddenFor(model => model.plaModifierDate)

    @Html.HiddenFor(model => model.plaCreateUser)
    @Html.HiddenFor(model => model.plaModifierUser)

    <div class="form-group">
        @Html.LabelFor(model => model.plaName, "Tên trình độ", new { @class = "control-label" })
        @Html.EditorFor(model => model.plaName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.plaName)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.plaDescription, "Mô tả", new { @class = "control-label" })
        @Html.EditorFor(model => model.plaDescription, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.plaDescription)
    </div>
    <div class="form-group">

        <input type="submit" value="Lưu lại" class="btn btn-success " />
        <input type="reset" value="Làm mới" class="btn btn-warning" />
    </div>
}  