
@{
    Layout = null;
}

<!DOCTYPE html>
@model HTquanlyNCKH.Models.Scientist
@using (Html.BeginForm("ScientistStoreOrEdit", "Scientist", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.scientistID)
    @Html.HiddenFor(model => model.sctFullName)
    @Html.HiddenFor(model => model.sctCreateDate)
    @Html.HiddenFor(model => model.sctModifierDate)

    @Html.HiddenFor(model => model.sctCreateUser)
    @Html.HiddenFor(model => model.sctModifierUser)
    @Html.HiddenFor(model => model.sctBirthday)
    @Html.HiddenFor(model => model.sctImage)



    <div class="form-group" style="float: left; margin: 2px">
        @Html.LabelFor(model => model.sctFirstName, "Họ và tên đệm", new { @class = "control-label" })
        @Html.EditorFor(model => model.sctFirstName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.sctFirstName)
    </div>

    <div class="form-group" style="float: left; margin: 2px">
        @Html.LabelFor(model => model.sctLastName, "Tên", new { @class = "control-label" })
        @Html.EditorFor(model => model.sctLastName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.sctLastName)
    </div>
    <div class="form-group" style="float: left">
        <table>
            <tr>
                <td style="vertical-align:sub">
                    <b>Giới tính:</b>
                </td>
                @if (Model.sctSex == "Nam")
                {
                    <td style="vertical-align:sub">
                        <p>Nam</p>
                    </td>
                    <td style="vertical-align:sub">
                        <input type="radio" checked name="gioi-tinh" value="Nam" />
                    </td>

                    <td style="vertical-align:sub">
                        <p>Nữ</p>
                    </td>
                    <td style="vertical-align:sub">
                        <input type="radio" name="gioi-tinh" value="Nữ" />
                    </td>
                }
                else if (Model.sctSex == "Nữ")
                {
                    <td style="vertical-align:sub">
                        <p>Nam</p>
                    </td>
                    <td style="vertical-align:sub">
                        <input type="radio" name="gioi-tinh" value="Nam" />
                    </td>
                    <td style="vertical-align:sub">
                        <p>Nữ</p>
                    </td>
                    <td style="vertical-align:sub">
                        <input checked type="radio" name="gioi-tinh" value="Nữ" />
                    </td>
                }
                else
                {
                    <td style="vertical-align:sub">
                        <p>Nam</p>
                    </td>
                    <td style="vertical-align:sub">
                        <input type="radio" name="gioi-tinh" value="Nam" />
                    </td>
                    <td style="vertical-align:sub">
                        <p>Nữ</p>
                    </td>
                    <td style="vertical-align:sub">
                        <input type="radio" name="gioi-tinh" value="Nữ" />
                    </td>
                }
            </tr>
        </table>
        @Html.ValidationMessageFor(model => model.sctSex)
    </div>

    <div class="form-group" style="float: left; margin: 2px">
        @Html.LabelFor(model => model.sctBirthday, "Ngày sinh", new { @class = "control-label" })
        <input type="date" name="ngay-sinh" value="@ViewBag.ngaysinh" />
    </div>
    <div class="form-group" style="clear: both;float: left; margin: 2px">
        @Html.LabelFor(model => model.sctAddress, "Địa chỉ", new { @class = "control-label" })
        @Html.EditorFor(model => model.sctAddress, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.sctAddress)
    </div>

    <div class="form-group" style="float: left; margin: 2px">
        @Html.LabelFor(model => model.sctEmail, "Email", new { @class = "control-label" })
        @Html.EditorFor(model => model.sctEmail, new { htmlAttributes = new { @class = "form-control", @type = "email" } })
        @Html.ValidationMessageFor(model => model.sctEmail)
    </div>
    <div class="form-group" style="float: left; margin: 2px">
        @Html.LabelFor(model => model.sctPhone, "Số điện thoại", new { @class = "control-label" })
        @Html.EditorFor(model => model.sctPhone, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
        @Html.ValidationMessageFor(model => model.sctPhone)
    </div>

    <div class="form-group" style="float: left;  margin: 2px">
        @Html.LabelFor(model => model.sctResult, "Kết quả thực hiện", new { @class = "control-label" })
        @Html.EditorFor(model => model.sctResult, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.sctResult)
    </div>
    <div class="dropdown" style="clear: both; float: left;  margin: 2px">
        <div class="form-group">
            <label>Nơi sinh(*)</label>
            @Html.DropDownList("placeID", new SelectList(ViewBag.plaList, "placeID", "plaName"), "--Không để trống--", new { @class = "form-control" })
        </div>
    </div>
    <div class="dropdown" style="float: left; margin: 2px">
        <div class="form-group">
            <label>Trình độ(*)</label>
            @Html.DropDownList("degreeID", new SelectList(ViewBag.degList, "degreeID", "degName"), "--Không để trống--", new { @class = "form-control" })
        </div>
    </div>
    <div class="dropdown" style="float: left ; margin: 2px">
        <div class="form-group">
            <label>Phòng ban(*)</label>
            @Html.DropDownList("unitID", new SelectList(ViewBag.unitList, "unitID", "untName"), "--Không để trống--", new { @class = "form-control" })
        </div>
    </div>
    <div class="dropdown" style="float: left ; margin: 2px">
        <div class="form-group">
            <label>Chuyên ngành(*)</label>
            @Html.DropDownList("fieldID", new SelectList(ViewBag.fieldList, "fieldID", "fieName"), "--Không để trống--", new { @class = "form-control" })
        </div>
    </div>
    <div class="dropdown" style="float: left; margin: 2px">
        <div class="form-group">
            <label>Ngoại ngữ(*)</label>
            @Html.DropDownList("foreignID", new SelectList(ViewBag.foreignList, "foreignID", "fgnName"), "--Không để trống--", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group" style="clear: both; margin: 2px">
        @Html.LabelFor(model => model.sctWorkingProcess, "Quá trình làm việc", new { @class = "control-label" })
        @Html.EditorFor(model => model.sctWorkingProcess, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.sctWorkingProcess)
    </div>
    <div class="dropdown" style="float: left">
        <label>Ảnh chân dung</label>
        @if (Model.sctImage == null)
        {
            <img src="~/Content/dist/img/AnhDaiDien/unname.png" width="100" height="100" style="margin: 2px" />
        }
        else
        {
            <img src="~/Content/dist/img/AnhDaiDien/@Model.sctImage" width="100" height="100" style="margin: 2px" />
        }
        <div class="editor-field">
            @Html.TextBoxFor(model => model.sctImage, new { type = "file" })
            @Html.ValidationMessageFor(model => model.sctImage)
        </div>
    </div>
    <div class="form-group" style="float: left; margin: 100px">

        <input type="submit" value="Lưu lại" class="btn btn-success " />
        <input type="reset" value="Làm mới" class="btn btn-warning" />
    </div>
}



<style type='text/css'>
    label {
        font-size: 14px;
    }

    b {
        font-size: 14px;
    }

    input {
        font-size: 10px;
    }

    table {
        counter-reset: none;
        counter-reset: none; /*mặc định số thứ tự bắt đầu*/
    }

        table tr {
            counter-increment: none;
        }

            table tr td:first-child::before {
                content: none;
                min-width: auto;
                margin-right: 0.5em;
            }

        table td {
            vertical-align: middle;
        }
</style>
