
@{
    ViewBag.Title = "Thông tin bài báo quốc tế";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!DOCTYPE html>
@model HTquanlyNCKH.Models.ArticleFull
<div class="form-check">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td style="vertical-align:middle">
                    <b>Tên bài báo:</b>
                </td>
                <td style="text-align: left">
                    @Model.atlName
                </td>
            </tr>
            <tr>
                <td>
                    <b>Tên nhà khoa học:</b>
                </td>
                <td style="text-align: left">
                    @Model.scientistName
                </td>
            </tr>
            <tr>
                <td>
                    <b>Quốc gia:</b>
                </td>
                <td style="text-align: left">
                    @Model.nationName
                </td>
            </tr>
            <tr>
                <td>
                    <b>Tóm lượt:</b>
                </td>
                <td style="text-align: left">
                    @Model.atlSummary
                </td>
            </tr>
            <tr>
                <td>
                    <b>Từ khoá: </b>
                </td>
                <td style="text-align: left">
                    @Model.keyName
                </td>
            </tr>
            <tr>
                <td>
                    <b>Điểm công trình: </b>
                </td>
                <td style="text-align: left">
                    @Model.Point
                </td>
            </tr>
            <tr>
                <td>
                    <b>Công bố trang báo trên Website:</b>
                </td>
                <td style="text-align: left">
                    @Model.atlLink
                </td>
            </tr>
            <tr>
                <td>
                    <b>Loại bài viết:</b>
                </td>
                <td style="text-align: left">
                    @Model.typeName
                </td>
            </tr>
            <tr>
                <td>
                    <b>Nới xuất bản:</b>
                </td>
                <td style="text-align: left">
                    @Model.atlPublication
                </td>
            </tr>
            <tr>
                <td>
                    <b>Thể loại:</b>
                </td>
                <td style="text-align: left">
                    @Model.fieldName
                </td>
            </tr>

            <tr>
                <td>
                    <b>Số bài báo: </b>
                </td>
                <td style="text-align: left">
                    @Model.atlNumber
                </td>
            </tr>
            <tr>
                <td>
                    <b>Từ trang đến trang: </b>
                </td>
                <td style="text-align: left">
                    @Model.atlPageToPage
                </td>
            </tr>
            
        </tbody>
    </table>
</div>


<style type='text/css'>

    table {
        counter-reset: rowNumber;
        counter-reset: number 1; /*mặc định số thứ tự bắt đầu*/
    }

        table tr {
            counter-increment: rowNumber;
        }

            table tr td:first-child::before {
                content: counter(rowNumber);
                min-width: auto;
                margin-right: 0.5em;
            }

        table td {
            vertical-align: middle;
            text-align: right;
        }
</style>
