
@{
    Layout = null;
}

<!DOCTYPE html>
@model HTquanlyNCKH.Models.ArticleFull
@using (Html.BeginForm("ArticlesStoreOrEdit", "Articles", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(model => model.articlesID)
    @Html.HiddenFor(model => model.atlCreateDate)
    @Html.HiddenFor(model => model.atlModifierDate)

    @Html.HiddenFor(model => model.atlCreateUser)
    @Html.HiddenFor(model => model.atlModifierUser)
    @Html.HiddenFor(model => model.atlPublicationDate)


    <table style="text-align: right" class="table table-striped">
        <tbody>
            <tr>
                <td></td> <!--Số thứ tự tự tăng-->
                <td>
                    <b>Tên bài:</b>
                </td>
                <td style="text-align: left">
                    @Model.atlName
                </td>
            </tr>
            <tr>
                <td></td> <!--Số thứ tự tự tăng-->
                <td>
                    <b>Tóm lượt:</b>
                </td>
                <td style="text-align: left">
                    @Model.atlSummary @*<a style="margin-left: 1em" class="btn btn-primary btn-sm" onclick="PopupForm('@Url.Action("ScientistInfor", "Scientist", new { id = Model.scientistID})')"> Xem thông tin</a>*@
                </td>



            </tr>
            <tr>
                <td></td> <!--Số thứ tự tự tăng-->
                <td>
                    <b>Điểm số:</b>
                </td>
                <td style="text-align: left">
                    @Model.Point
                </td>
            </tr>


            <tr>
                <td></td> <!--Số thứ tự tự tăng-->
                <td>
                    <b>Đường dẫn:</b>
                </td>
                <td style="text-align: left">
                    <a href="@Model.atlLink">@Model.atlLink</a>
                </td>
            </tr>

            <tr>
                <td></td> <!--Số thứ tự tự tăng-->
                <td>
                    <b>Nhà xuất bản:</b>
                </td>
                <td style="text-align: left">
                    @Model.atlPublication
                </td>
            </tr>
            <tr>
                <td></td> <!--Số thứ tự tự tăng-->
                <td>
                    <b>Số bài báo:</b>
                </td>
                <td style="text-align: left">
                    @Model.atlNumber
                </td>
            </tr>
            <tr>
                <td></td> <!--Số thứ tự tự tăng-->
                <td>
                    <b>Từ trang đến trang:</b>
                </td>
                <td style="text-align: left">
                    @Model.atlPageToPage
                </td>
            </tr>
            <tr>
                <td></td> <!--Số thứ tự tự tăng-->
                <td>
                    <b>Quốc gia:</b>
                </td>
                <td style="text-align: left">
                    @Model.nationName
                </td>

            <tr>
                <td></td> <!--Số thứ tự tự tăng-->
                <td>
                    <b>Từ khoá: </b>
                </td>
                <td style="text-align: left">
                    @Model.keyName
                </td>
            </tr>
            <tr>
                <td></td> <!--Số thứ tự tự tăng-->
                <td>
                    <b>Thể loại: </b>
                </td>
                <td style="text-align: left">
                    @Model.typeName
                </td>
            </tr>
            <tr>
                <td></td> <!--Số thứ tự tự tăng-->
                <td>
                    <b>Lĩnh vực: </b>
                </td>
                <td style="text-align: left">
                    @Model.fieldName
                </td>
            </tr>

        </tbody>
    </table>

}  