@{
    ViewBag.Title = "Giới Thiệu";
}
@using HTquanlyNCKH.Models
@model PagedList.IPagedList<HTquanlyNCKH.Models.TopicFull>
@using PagedList.Mvc;
@section Slider{
    @using (DBModel db = new DBModel())
    {
        var sliderList = from p in db.Sliders select p;
        <div class="container-fluid p-0 mb-5">
            <div class="owl-carousel header-carousel position-relative">
                @foreach (var item in sliderList)
                {
                    <div class="owl-carousel-item position-relative">
                        <img class="img-fluid" src="~/Content/dist/img/@item.sldImage" alt="">
                        <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                            <div class="container">
                                <div class="row justify-content-start">
                                    <div class="col-sm-10 col-lg-8">
                                        <h5 class="text-primary text-uppercase mb-3 animated slideInDown">@item.sldH5</h5>
                                        <h1 class="display-5 text-white animated slideInDown">@item.sldH1</h1>
                                        <p class="fs-5 text-white mb-4 pb-2">
                                            @item.sldContent
                                        </p>
                                        <a href="@Url.Action("Topic", "Home")" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Tra Cứu</a>
                                        <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Đăng Ký</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
}


<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">

            @using (DBModel db = new DBModel())
            {
                var introList = from p in db.Introes select p;
                foreach (var item in introList)
                {
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item text-center pt-3">
                            <div class="p-4">
                                @Html.Raw(item.itdIcon)
                                <h5 class="mb-3">@item.itdName</h5>
                                <p>@item.itdSummary</p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<!-- Service End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="~/Content/dist/img/about.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">Thông tin</h6>
                <h1 class="mb-4">Phạm vi áp dụng</h1>
                <p class="mb-4">
                    Đối tượng áp dụng: Tất cả cán bộ công chức, viên chức, sinh viên đại học, cá
                    nhân, nhóm nghiên cứu chủ trì và/hoặc tham gia các đề tài nghiên cứu khoa học,
                    dự án cấp cơ sở thuộc Trường Cao Đẳng Y Tế Đồng Tháp.
                </p>
                <p class="mb-4">
                    Phạm vi áp dụng: Các khoa, Trung tâm, Bệnh viện và các đơn vị thuộc và trực
                    thuộc Trường Cao Đẳng Y Tế Đồng Tháp.
                </p>
                @*<div class="row gy-2 gx-4 mb-4">
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Certificate</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Certificate</p>
                        </div>
                    </div>*@

            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Categories Start -->
@*<div class="container-xxl py-5 category">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Categories</h6>
                <h1 class="mb-5">Courses Categories</h1>
            </div>
            <div class="row g-3">
                <div class="col-lg-7 col-md-6">
                    <div class="row g-3">
                        <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src="~/Content/dist/img/cat-1.jpg" alt="">
                                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                    <h5 class="m-0">Web Design</h5>
                                    <small class="text-primary">49 Courses</small>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src="~/Content/dist/img/cat-2.jpg" alt="">
                                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                    <h5 class="m-0">Graphic Design</h5>
                                    <small class="text-primary">49 Courses</small>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src="~/Content/dist/img/cat-3.jpg" alt="">
                                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                    <h5 class="m-0">Video Editing</h5>
                                    <small class="text-primary">49 Courses</small>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                    <a class="position-relative d-block h-100 overflow-hidden" href="">
                        <img class="img-fluid position-absolute w-100 h-100" src="~/Content/dist/img/cat-4.jpg" alt="" style="object-fit: cover;">
                        <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin:  1px;">
                            <h5 class="m-0">Online Marketing</h5>
                            <small class="text-primary">49 Courses</small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>*@
<!-- Categories Start -->
<!-- Courses Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3" style="margin-bottom: 60px">Trường Cao Đẳng Y Tế Đồng Tháp</h6>

        </div>
        <div class="row g-4 justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="course-item bg-light">


                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="~/Content/dist/img/course-1.jpg" alt="">
                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                <a href=" @Url.Action("TopicInfor", "Home", new { id = item.topicID})" class="flex-shrink-0 btn btn-sm btn-primary px-2 border-end" style="border-radius: 30px 0 0 30px;">Xem Đề Tài</a>
                                <a href="@Url.Action("ScientistInfor", "Home", new { id = item.scientistID})" class="flex-shrink-0 btn btn-sm btn-primary px-2" style="border-radius: 0 30px 30px 0;">Lý lịch nhà khoa học</a>
                            </div>
                        </div>



                        <div class="text-center p-4 pb-0">
                            <h3 class="mb-0" style="min-height: 100px">@item.tpcName</h3>
                            <div class="mb-3">
                                <small> Lĩnh vực @item.fieldName</small>
                            </div>
                            <h5 class="mb-4">Năm @item.tpcYear</h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>@item.scientistName</small>
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>@item.tpcYear</small>
                            <small class="flex-fill text-center py-2"><i class="fas fa-info text-primary me-2"></i> @item.statusName</small>
                        </div>
                    </div>
                </div>
            }
            <nav id="phanTrang" style="float: left">
                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Topic", "Home", new { pageID = page }))
            </nav>



        </div>
    </div>
</div>
}
<!-- Courses End -->
<!-- Testimonial Start -->
@*<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center">
                <h6 class="section-title bg-white text-center text-primary px-3">Testimonial</h6>
                <h1 class="mb-5">Our Students Say!</h1>
            </div>
            <div class="owl-carousel testimonial-carousel position-relative">
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="~/Content/dist/img/testimonial-1.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Client Name</h5>
                    <p>Profession</p>
                    <div class="testimonial-text bg-light text-center p-4">
                        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="~/Content/dist/img/testimonial-2.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Client Name</h5>
                    <p>Profession</p>
                    <div class="testimonial-text bg-light text-center p-4">
                        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="~/Content/dist/img/testimonial-3.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Client Name</h5>
                    <p>Profession</p>
                    <div class="testimonial-text bg-light text-center p-4">
                        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="~/Content/dist/img/testimonial-4.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Client Name</h5>
                    <p>Profession</p>
                    <div class="testimonial-text bg-light text-center p-4">
                        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!-- Testimonial End -->
