
@{
    ViewBag.Title = "Thông Tin Nhà Khoa Học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
@model HTquanlyNCKH.Models.ScientistFull
<div class="form-check">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td style="vertical-align:middle">
                    <b>Ảnh chân dung:</b>
                </td>
                <td style="text-align: left">
                    <img src="~/Content/dist/img/AnhDaiDien/@Model.sctImage" style="border-radius: 14px" width="250" height="250" />
                </td>
            </tr>
            <tr>
                <td>
                    <b>Tên nhà khoa học:</b>
                </td>
                <td style="text-align: left">
                    @Model.sctFirstName @Model.sctLastName
                </td>
            </tr>
            <tr>
                <td>
                    <b>Giới tính:</b>
                </td>
                <td style="text-align: left">
                    @Model.sctSex
                </td>
            </tr>
            <tr>
                <td>
                    <b>Ngày sinh:</b>
                </td>
                <td style="text-align: left">
                    @Model.sctBirthday
                </td>
            </tr>
            <tr>
                <td>
                    <b>Email: </b>
                </td>
                <td style="text-align: left">
                    @Model.sctEmail
                </td>
            </tr>
            <tr>
                <td>
                    <b>Số điện thoại: </b>
                </td>
                <td style="text-align: left">
                    @Model.sctPhone
                </td>
            </tr>
            <tr>
                <td>
                    <b>Nơi sinh:</b>
                </td>
                <td style="text-align: left">
                    @Model.PlaceName
                </td>
            </tr>
            <tr>
                <td>
                    <b>Trình độ:</b>
                </td>
                <td style="text-align: left">
                    @Model.degreeName
                </td>
            </tr>
            <tr>
                <td>
                    <b>Phòng ban:</b>
                </td>
                <td style="text-align: left">
                    @Model.unitName
                </td>
            </tr>
            <tr>
                <td>
                    <b>Chuyên ngành:</b>
                </td>
                <td style="text-align: left">
                    @Model.fieldName
                </td>
            </tr>

            <tr>
                <td>
                    <b>Trình độ ngoại ngữ: </b>
                </td>
                <td style="text-align: left">
                    @Model.sctForeignName
                </td>
            </tr>
            <tr>
                <td>
                    <b>Địa chỉ thường trú: </b>
                </td>
                <td style="text-align: left">
                    @Model.sctAddress
                </td>
            </tr>
            <tr>
                <td>
                    <b>Quá trình làm việc:</b>
                </td>
                <td style="text-align: left">
                    @Model.sctWorkingProcess
                </td>
            </tr>
            <tr>
                <td>
                    <b>Kết quả thực hiện:</b>
                </td>
                <td style="text-align: left">
                    @Model.sctResult
                </td>
            </tr>
        </tbody>
    </table>
</div>


<style type='text/css'>

    table {
        counter-reset: rowNumber;
        counter-reset: number 1; /*mặc định số thứ tự bắt đầu*/
    }

        table tr {
            counter-increment: rowNumber;
        }

            table tr td:first-child::before {
                content: counter(rowNumber);
                min-width: auto;
                margin-right: 0.5em;
            }

        table td {
            vertical-align: middle;
            text-align: right;
        }
</style>
