
@{
    ViewBag.Title = "Nhà Khoa Học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using HTquanlyNCKH.Models
@model PagedList.IPagedList<HTquanlyNCKH.Models.ScientistFull>
@using PagedList.Mvc;
@section Slider{
    <img src="~/Content/dist/img/20namDthu.jpg" width="100%" />
}
<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 style="margin-bottom: 50px" class="section-title bg-white text-center text-primary px-3">Trường Đại học Đồng Tháp</h6>
        </div>
        @using (Html.BeginForm("ScientistSearch", "Search"))
        {
            <div class="position-relative mx-auto " style="max-width: 600px; margin-bottom: 20px">
                <input name="Key" class="form-control border-1 w-100 py-3 ps-4 pe-5" placeholder="Nhập họ tên">
                <button type="submit" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">Tìm kiếm</button>
            </div>
        }
        <div class="row g-4">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden">
                            @*<img width="336" height="336" class="img-fluid" src="~/Content/dist/img/AnhDaiDien/@item.sctImage" alt="">*@
                            @if (item.sctImage == null)
                            {
                                <img src="~/Content/dist/img/AnhDaiDien/unname2.png" width="336" height="336" class="img-fluid" />
                            }
                            else
                            {
                                <img src="~/Content/dist/img/AnhDaiDien/@item.sctImage" width="336" height="336" class="img-fluid" />
                            }
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                            <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                <a class="btn btn-sm btn-primary" href="@Url.Action("ScientistInfor", "Home", new { id = item.scientistID})"><i class="fas fa-info"></i> Thông tin</a>

                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">@item.sctFirstName @item.sctLastName</h5>
                            <small>Trình độ: @item.degreeName </small>
                        </div>
                    </div>
                </div>
            }
            <nav id="phanTrang" style="float: left">
                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Scientist", "Home", new { pageID = page }))
            </nav>
        </div>
    </div>
</div>
<!-- Team End -->