
@{
    ViewBag.Title = "Thông tin đề tài";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
@model HTquanlyNCKH.Models.TopicFull
<div class="form-check">
    <table style="text-align: right" class="table table-striped">
        <tbody>
            <tr>
                <td>
                    <b>Tên đề tài:</b>
                </td>
                <td style="text-align: left">
                    @Model.tpcName
                </td>
                <td><b>Mã số đề tài: </b></td>
                <td style="text-align: left">
                    @Model.topicID  
                </td>
            </tr>
            <tr>
                <td>
                    <b>Người thực hiện:</b>
                </td>
                <td style="text-align: left">
                    @Model.scientistName <a style="margin-left: 1em" class="btn btn-primary btn-sm" href="@Url.Action("ScientistInfor", "Home", new { id = Model.scientistID})"> Xem thông tin</a>
                </td>

                <td>
                    <b>Phân loại:</b>
                </td>
                <td style="text-align: left">
                    @Model.classifiName
                </td>

            </tr>



            <tr>
                <td>
                    <b>Trạng thái:</b>
                </td>
                <td style="text-align: left">
                    @Model.statusName
                </td>
                <td>
                    <b>Chuyên nghành:</b>
                </td>
                <td style="text-align: left">
                    @Model.fieldName
                </td>
            </tr>

            <tr>
                <td>
                    <b>Năm thực hiện:</b>
                </td>
                <td style="text-align: left">
                    @Model.tpcYear
                </td>
                <td>
                    <b>CODE:</b>
                </td>
                <td style="text-align: left">
                    @Model.tpcCode
                </td>
            </tr>

            <tr>
                <td>
                    <b>Ngày bắt đầu:</b>
                </td>
                <td style="text-align: left">
                    @Convert.ToDateTime(Model.tpcStartDate).ToString("dd-MM-yyyy")

                </td>
                @*<td>
                <b>Ngày kết thúc:</b>
            </td>
            <td style="text-align: left">
                @Convert.ToDateTime(Model.tpcEndDate).ToString("dd-MM-yyyy")

            </td>*@
                <td>
                    <b>Ngày nghiệm thu:</b>
                </td>
                <td style="text-align: left">
                    @Convert.ToDateTime(Model.tpcDateOfAcceptance).ToString("dd-MM-yyyy")

                </td>
            </tr>
            <tr>
                <td>
                    <b>Hội đồng xét duyệt:</b>
                </td>
                <td colspan="3" style="text-align: left">
                    @Model.tpcReviewBoard
                </td>

            </tr>
            
        </tbody>
    </table>
    <table>
        <tr>
            <td width="120px">
                <b>Tóm lượt đề tài: </b>
            </td>
            <td>
                @Html.Raw(Model.tpcSummary)
            </td>
        </tr>
    </table>

</div>



