@{
    Layout = null;
}

<!DOCTYPE html>
@model HTquanlyNCKH.Models.Topic
@using (Html.BeginForm("TopicStoreOrEdit", "Topic", FormMethod.Post))
{
    @Html.HiddenFor(model => model.topicID)

    @Html.HiddenFor(model => model.tpcCreateData)
    @Html.HiddenFor(model => model.tpcModifierData)

    @Html.HiddenFor(model => model.tpcCreateUser)
    @Html.HiddenFor(model => model.tpcModifierUser)

    @Html.HiddenFor(model => model.tpcStartDate)
    @Html.HiddenFor(model => model.tpcEndDate)
    @Html.HiddenFor(model => model.tpcDateOfAcceptance)

    <div class="form-group" style="float: left; margin: 10px">
        @Html.LabelFor(model => model.tpcName, "Tên đề tài", new { @class = "control-label" })
        @Html.EditorFor(model => model.tpcName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.tpcName)
    </div>
    <div class="form-group" style="float: left; margin: 10px">
        @Html.LabelFor(model => model.tpcYear, "Năm thực hiện", new { @class = "control-label" })
        @Html.EditorFor(model => model.tpcYear, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = 1990, @max = 2100 } })
        @Html.ValidationMessageFor(model => model.tpcYear)
    </div>
    <div class="form-group" style="float: left; margin: 10px">
        @Html.LabelFor(model => model.tpcCode, "Mã số công khai", new { @class = "control-label" })
        @Html.EditorFor(model => model.tpcCode, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
        @Html.ValidationMessageFor(model => model.tpcCode)
    </div>
    <div class="form-group" style="clear: both; float: left; margin: 10px">
        @Html.LabelFor(model => model.tpcSummary, "Tóm lượt đề tài", new { @class = "control-label" })
        @Html.EditorFor(model => model.tpcSummary, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.tpcSummary)
    </div>
    <div class="form-group" style="float: left; margin: 10px">
        @Html.LabelFor(model => model.tpcReviewBoard, "Hội đồng xét duyệt", new { @class = "control-label" })
        @Html.EditorFor(model => model.tpcReviewBoard, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.tpcReviewBoard)
    </div>
    <div class="form-group" style="float: left; margin: 10px">
        @Html.LabelFor(model => model.tpcAcceptance, "Hội đồng nghiệm thu", new { @class = "control-label" })
        @Html.EditorFor(model => model.tpcAcceptance, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.tpcAcceptance)
    </div>
    <div class="dropdown" style="float: left ; margin: 10px">
        <div class="form-group">
            <label>Nhà khoa học</label>
            @Html.DropDownList("scientistID", new SelectList(ViewBag.sct, "scientistID", "sctFullName", "Select"), new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group" style="float: left; margin: 10px">
        <b>Ngày bắt đầu</b>
        <input type="date" name="ngay-bat-dau" value="@ViewBag.ngaybatdau" />
        @Html.ValidationMessageFor(model => model.tpcEndDate)
    </div>
    <div class="form-group" style="float: left; margin: 10px">
        <label>Ngày kết thúc</label>
        <input type="date" name="ngay-ket-thuc" value="@ViewBag.ngayketthuc" />
        @Html.ValidationMessageFor(model => model.tpcEndDate)
    </div>
    <div class="form-group" style="float: left; margin: 10px">
        <label>Ngày nghiệm thu</label>
        <input type="date" name="ngay-nghiem-thu" value="@ViewBag.ngaynghiemthu" />
        @Html.ValidationMessageFor(model => model.tpcDateOfAcceptance)
    </div>


    <div class="dropdown" style="float: left; clear: both">
        <div class="form-group">
            <label>Lĩnh Vực: </label>
            @Html.DropDownList("fieldID", new SelectList(ViewBag.fie, "fieldID", "fieName", "Select"), new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group" style="float: left; margin: 10px">
        <label>Xếp loại: </label>
        @Html.DropDownList("classifiID", new SelectList(ViewBag.cls, "classifiID", "clsName", "Select"), new { @class = "form-control" })
    </div>
    <div class="form-group" style="float: left; margin: 10px">
        <label>Trạng thái: </label>
        @Html.DropDownList("statusID", new SelectList(ViewBag.sts, "statusID", "stsName", "Select"), new { @class = "form-control" })
    </div>



    <div class="form-group" style="clear: both">
        <input type="submit" value="Lưu lại" class="btn btn-success " />
        <input type="reset" value="Làm mới" class="btn btn-warning" />
    </div>
}  