<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hệ thống quản lý nghiên cứu khoa học - Trường Cao Đẳng Y Tế Đồng Tháp</title>

    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
    <!-- Khai báo thư viện sử dụng icon     -->
    <script src="https://kit.fontawesome.com/5edae66fb7.js" crossorigin="anonymous"></script>
    <script src="~/Content/dist/js/notify.min.js"></script>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/Content/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/Content/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Content/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Content/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/Content/plugins/summernote/summernote-bs4.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    
    <script src="https://cdn.ckeditor.com/4.19.0/basic/ckeditor.js"></script>
    <script>
        //lưu vị trí thanh cuộn scroll khi load trang
        document.addEventListener("DOMContentLoaded", function (event) {
            var scrollpos = localStorage.getItem('scrollpos');
            if (scrollpos) window.scrollTo(0, scrollpos);
        });

        window.onbeforeunload = function (e) {
            localStorage.setItem('scrollpos', window.scrollY);
        };
    </script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />    <!--Xử lý Popup-->

    <link href="~/Content/dist/Chosen/docsupport/style.css" rel="stylesheet" />
    <link href="~/Content/dist/Chosen/docsupport/prism.css" rel="stylesheet" />
    <link href="~/Content/dist/Chosen/chosen.css" rel="stylesheet" />


</head>
<body class="sidebar-mini  sidebar-collapse">
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center text-sm">
            <img class="animation__shake" src="~/Uploads/image/logo/LOGOcdytDT.png" alt="Trường Cao Đẳng Y Tế Đồng Tháp" height="160" width="160">
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light text-sm">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                @*<li class="nav-item d-none d-sm-inline-block">
                <a href="#" class="nav-link">Lịch sử thay đổi</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="#" class="nav-link">Hướng dẫn sử dụng</a>
            </li>*@


            </ul>
            <div class="navbar-nav ml-auto">
                <div class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </div>
            </div>

        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="@Url.Action("index", "admin")" class="brand-link">

                <img src="~/Content/dist/img/LOGOcdytDT.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">CĐYT Đồng Tháp</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/Content/dist/img/avatar4.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Administrator</a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Tìm kiếm" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        <li class="nav-item menu-open">
                            <a href="@Url.Action("index", "Admin")" class="nav-link">
                                @*class="nav-link active">*@
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Thống Kê
                                    @*<i class="right fas fa-angle-left"></i>*@
                                </p>
                            </a>

                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fa-solid fa-house-user"></i>
                                <p>
                                    Trang Người Dùng
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("IntroManage", "Admin")" class="nav-link">
                                        <i style="color: #ff0000" class="fas fa-info-circle"></i>
                                        <p> Giới thiệu</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("SliderManage", "Admin")" class="nav-link">
                                        <i style="color: #ffd800" class="fa-solid fa-panorama"></i>
                                        <p> Ảnh bìa</p>
                                    </a>
                                </li>
    
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>
                                    Quản Lý Đề Tài
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a style="color: #00ffff" href="@Url.Action("TopicManage", "Topic")" class="nav-link">
                                        <i class="fa-solid fa-list-check"></i>
                                        <p>Danh sách đề tài</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("ClassifiManage", "Topic")" class="nav-link">
                                        <i style="color: #ff0000" class="far fa-circle nav-icon"></i>
                                        <p>Xếp loại đề tài</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("FieldManage", "Topic")" class="nav-link">
                                        <i style="color: #ffd800" class="far fa-circle nav-icon"></i>
                                        <p>Lĩnh vực nghiên cứu</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("StatusManage", "Topic")" class="nav-link">
                                        <i style="color: #00ff21" class="far fa-circle nav-icon"></i>
                                        <p>Trạng thái</p>
                                    </a>
                                </li>
                                @*<li class="nav-item">
                                        <a href="#" class="nav-link">
                                            <i style="color: #0026ff"  class="far fa-circle nav-icon"></i>
                                            <p>Hội đồng nghiệm thu</p>
                                        </a>
                                    </li>*@
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fa-solid fa-address-book"></i>
                                <p>
                                    Quản Lý Nhà Khoa Học
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a style="color: #00ffff" href="@Url.Action("ScientistManage", "Scientist")" class="nav-link">
                                        <i class="fa-solid fa-list-check"></i>
                                        <p>Danh sách nhà nghiên cứu</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("DegreeManage", "Scientist")" class="nav-link">
                                        <i style="color:#ff0000" class="far fa-circle nav-icon"></i>
                                        <p>Trình độ</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("UnitManage", "Scientist")" class="nav-link">
                                        <i style="color: #ffd800" class="far fa-circle nav-icon"></i>
                                        <p>Đơn vị làm việc</p>
                                    </a>
                                </li>
                                @*<li class="nav-item">
                                        <a href="#" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Học vị</p>
                                        </a>
                                    </li>*@
                                <li class="nav-item">
                                    <a href="@Url.Action("FieldManage", "Topic")" class="nav-link">
                                        <i style="color: #00ff21" class="far fa-circle nav-icon"></i>
                                        <p>Lĩnh vực nghiên cứu</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("ForeignManage", "Scientist")" class="nav-link">
                                        <i style="color: #0026ff" class="far fa-circle nav-icon"></i>
                                        <p>Chức vụ</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("PlaceManage", "Scientist")" class="nav-link">
                                        <i style="color: #ff00dc" class="far fa-circle nav-icon"></i>
                                        <p>Nơi sinh</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="@Url.Action("ArticlesManage", "Articles")" class="nav-link">
                                <i class="fa-solid fa-newspaper"></i>
                                <p>
                                    Quản Lý Bài Báo Quốc Tế
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a style="color: #00ffff" href="@Url.Action("ArticlesManage", "Articles")" class="nav-link">
                                        <i class="fa-solid fa-list-check"></i>
                                        <p>Danh sách các bài báo quốc tế</p>
                                    </a>
                                </li>
                                @*<li class="nav-item">
                                    <a href="@Url.Action("NationManage", "Articles")" class="nav-link">
                                        <i style="color: #ff0000" class="far fa-circle nav-icon"></i>
                                        <p>Quốc gia</p>
                                    </a>

                                </li>*@
                                <li class="nav-item">
                                    <a href="@Url.Action("ConferenceManage", "Articles")" class="nav-link">
                                        <i style="color: #ffd800" class="far fa-circle nav-icon"></i>
                                        <p>Hội nghị</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("KeyWordManage", "Articles")" class="nav-link">
                                        <i style="color: #00ff21" class="far fa-circle nav-icon"></i>
                                        <p>Từ khoá</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("ArtTypeManage", "Articles")" class="nav-link">
                                        <i style="color: #0026ff" class="far fa-circle nav-icon"></i>
                                        <p>Thể loại bài viết</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("FieldManage", "Topic")" class="nav-link">
                                        <i style="color: #ff00dc" class="far fa-circle nav-icon"></i>
                                        <p>Lĩnh vực nghiên cứu</p>
                                    </a>
                                </li>
                            </ul>
                        </li>


                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">@ViewBag.Title</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="@Url.Action("index", "admin")">Home</a></li>
                                <li class="breadcrumb-item active">@ViewBag.Title</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div>
                    <div class="container body-content">
                        @RenderBody()
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2014-2021 Trường Cao Đẳng Y Tế Đồng Tháp</strong>
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 3.2.0-rc
            </div>
        </footer>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Content/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/Content/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/Content/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/Content/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/Content/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/Content/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/Content/plugins/moment/moment.min.js"></script>
    <script src="~/Content/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/Content/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/Content/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/Content/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Content/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/Content/dist/js/pages/dashboard.js"></script>
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/notify.min.js"></script>


    <script src="~/Assets/libs/chart.js/Chart.bundle.min.js"></script>
    <script src="~/Assets/js/pages/chartjs.init.js"></script>

    <!-- Plugin Js-->
    @*<script src="~/Assets/libs/chartist/chartist.min.js"></script>*@
    <script src="~/Assets/libs/chartist-plugin-tooltips/chartist-plugin-tooltip.min.js"></script>


    <script src="~/Content/dist/Chosen/chosen.jquery.js"></script>
    <script src="~/Content/dist/Chosen/docsupport/prism.js"></script>
    <script src="~/Content/dist/Chosen/docsupport/init.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
