
@{
    Layout = null;
}

<!DOCTYPE html>
@model HTquanlyNCKH.Models.Article
@using (Html.BeginForm("ArticlesStoreOrEdit", "Articles", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(model => model.articlesID)
    @Html.HiddenFor(model => model.atlCreateDate)
    @Html.HiddenFor(model => model.atlModifierDate)

    @Html.HiddenFor(model => model.atlCreateUser)
    @Html.HiddenFor(model => model.atlModifierUser)
    @Html.HiddenFor(model => model.atlPublicationDate)

    <div class="form-group" style="float: left ; margin: 10px">
        @Html.LabelFor(model => model.atlName, "Tiêu đề", new { @class = "control-label" })
        @Html.EditorFor(model => model.atlName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.atlName)
    </div>


    <div class="form-group" style="float: left ; margin: 10px">
        @Html.LabelFor(model => model.atlSummary, "Tóm lược", new { @class = "control-label" })
        @Html.EditorFor(model => model.atlSummary, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.atlSummary)
    </div>
    <div class="form-group" style="float: left ; margin: 10px">
        @Html.LabelFor(model => model.Point, "Điểm số", new { @class = "control-label" })
        @Html.EditorFor(model => model.Point, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Point)
    </div>
    <div class="form-group" style="float: left ; margin: 10px">
        @Html.LabelFor(model => model.atlLink, "Đường dẫn", new { @class = "control-label" })
        @Html.EditorFor(model => model.atlLink, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.atlLink)
    </div>
    <div class="form-group" style="float: left ; margin: 10px">
        @Html.LabelFor(model => model.atlPublication, "Nhà xuất bản", new { @class = "control-label" })
        @Html.EditorFor(model => model.atlPublication, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.atlPublication)
    </div>
    @*<div class="form-group">
            @Html.LabelFor(model => model.atlPublicationDate, "Ngày xuất bản", new { @class = "control-label" })
            @Html.EditorFor(model => model.atlPublicationDate, new { htmlAttributes = new { @class = "form-control"  } })
            @Html.ValidationMessageFor(model => model.atlPublicationDate)
        </div>*@
    <div class="form-group" style="float: left ; margin: 10px">
        @Html.LabelFor(model => model.atlNumber, "Số bài báo", new { @class = "control-label" })
        @Html.EditorFor(model => model.atlNumber, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.atlNumber)
    </div>
    <div class="form-group" style="float: left ; margin: 10px">
        @Html.LabelFor(model => model.atlPageToPage, "Từ trang đến trang", new { @class = "control-label" })
        @Html.EditorFor(model => model.atlPageToPage, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.atlPageToPage)
    </div>

    <div class="dropdown" style="float: left ; margin: 10px">
        <div class="form-group">
            <label>Quốc gia</label>
            @Html.DropDownList("nationID", new SelectList(ViewBag.nat, "nationID", "natName"), "--Trống--", new { @class = "form-control" })
        </div>
    </div>
    <div class="dropdown" style="float: left ; margin: 10px">
        <div class="form-group">
            <label>Nhà khoa học</label>
            @Html.DropDownList("scientistID", new SelectList(ViewBag.sct, "scientistID", "sctFullName"), "--Trống--", new { @class = "form-control" })
        </div>
    </div>
   
    <div class="dropdown" style="float: left ; margin: 10px">
        <div class="form-group">
            <label>Từ khoá</label>
            @Html.DropDownList("keyID", new SelectList(ViewBag.key, "keyID", "keyName"), "--Trống--", new { @class = "form-control" })
        </div>
    </div>
    <div class="dropdown" style="float: left ; margin: 10px">
        <div class="form-group">
            <label>Loại bài viết</label>
            @Html.DropDownList("typeID", new SelectList(ViewBag.types, "typeID", "typName"), "--Trống--", new { @class = "form-control" })
        </div>
    </div>
    <div class="dropdown" style="float: left ; margin: 10px">
        <div class="form-group">
            <label>Lĩnh vực</label>
            @Html.DropDownList("fieldID", new SelectList(ViewBag.fieldList, "fieldID", "fieName"), "--Trống--", new { @class = "form-control" })
        </div>
    </div>


    <div class="form-group" style="float: left ; clear: both; margin: 10px">

        <input type="submit" value="Lưu lại" class="btn btn-success " />
        <input type="reset" value="Làm mới" class="btn btn-warning" />
    </div>
}  