@{
    ViewBag.Title = "Thống kê";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



    <div class="container-fluid">

        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@ViewBag.DeTai</h3>

                        <p>Đề tài</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-file-alt"></i> 
                    </div>
                    <a href="@Url.Action("TopicManage", "Topic")" class="small-box-footer">Xem chi tiết <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@ViewBag.BaiBao</h3>

                        <p>Bài báo quốc tế</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-newspaper"></i>
                    </div>
                    <a href="@Url.Action("ArticlesManage", "Articles")" class="small-box-footer">Xem chi tiết <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>@ViewBag.NhaKhoaHoc</h3>

                        <p>Nhà khoa học</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-user-tie"></i>
                    </div>
                    <a href="@Url.Action("ScientistManage", "Scientist")" class="small-box-footer">Xem chi tiết <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            
        </div>
        <!-- /.row -->
       
    </div><!-- /.container-fluid -->

