@{
    ViewBag.Title = "Thống kê";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="container-fluid">

    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>@ViewBag.DeTai</h3>

                    <p>Đề tài</p>
                </div>
                <div class="icon">
                    <i class="fas fa-file-alt"></i>
                </div>
                <a href="@Url.Action("TopicManage", "Topic")" class="small-box-footer">Xem chi tiết <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">

                    <h3>@ViewBag.BaiBao</h3>

                    <p>Bài báo quốc tế</p>
                </div>

                <div class="icon">
                    <i class="fas fa-newspaper"></i>
                </div>
                <a href="@Url.Action("ArticlesManage", "Articles")" class="small-box-footer">Xem chi tiết <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>@ViewBag.NhaKhoaHoc</h3>

                    <p>Nhà khoa học</p>
                </div>
                <div class="icon">
                    <i class="fas fa-user-tie"></i>
                </div>
                <a href="@Url.Action("ScientistManage", "Scientist")" class="small-box-footer">Xem chi tiết <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>

    </div>



    <!-- /.row -->
    <div class="row">

        <div class="col-lg-10">
            <div class="card">

                <div class="container">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>

    </div><!-- /.container-fluid -->


    

    <script>
        let myChart = document.getElementById('myChart').getContext('2d');
        // Global Options
        Chart.defaults.global.defaultFontFamily = 'Lato';
        Chart.defaults.global.defaultFontSize = 18;
        Chart.defaults.global.defaultFontColor = '#777';

        let massPopChart = new Chart(myChart, {
            type: 'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
            data: {
                labels: ['Đang đề xuất', 'Đang thực hiện', 'Đã nghiệm thu', 'Khác'],
                datasets: [{
                    label: 'Số lượng',
                    data: [
                        @ViewBag.dangdexuat,
                        @ViewBag.dangthuchien,
                        @ViewBag.danghiemthu,
                        @ViewBag.khac,
                    ],
                    //backgroundColor:'green',
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.6)',
                        'rgba(54, 162, 235, 0.6)',
                        'rgba(255, 206, 86, 0.6)',
                        'rgba(75, 192, 192, 0.6)',
                        'rgba(153, 102, 255, 0.6)',
                        'rgba(255, 159, 64, 0.6)',
                        'rgba(255, 99, 132, 0.6)'
                    ],
                    borderWidth: 1,
                    borderColor: '#777',
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#000'
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Thống kê trạng thái các đề tài',
                    fontSize: 25
                },
                legend: {
                    display: true,
                    position: 'right',
                    labels: {
                        fontColor: '#000'
                    }
                },
                layout: {
                    padding: {
                        left: 50,
                        right: 0,
                        bottom: 0,
                        top: 0
                    }
                },
                tooltips: {
                    enabled: true
                }
            }
        });
    </script>
