@{
    ViewBag.Title = "Tuỳ chỉnh xếp loại đề tài";    
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using HTquanlyNCKH.Models
@model PagedList.IPagedList<HTquanlyNCKH.Models.Classification>
@using PagedList.Mvc;

<!-- general form elements -->
@using (Html.BeginForm("addClassifi", "Admin", new { id = ViewBag.ID , idPage = Model.PageNumber}))
{
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Quản lý xếp loại đề tài</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form>
            <div class="card-body">
                <div class="form-group">
                    <label name="ID" for="exampleInputEmail1">Mã xếp loại đề tài:  </label>    
                    <input type="text" name="ID" disabled size="3" value="@ViewBag.ID" />
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Tên xếp loại đề tài</label>
                    <label><p style="color: red">*</p></label>
                    <input name="Name" autofocus maxlength="255" type="text" value="@ViewBag.Name" required class="form-control">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Mô tả</label>
                    @*<input type="" class="form-control" id="exampleInputPassword1" placeholder="Password">*@
                    <textarea name="Dest" maxlength="500" class="form-control" rows="2">@ViewBag.Dest</textarea>
                </div>
            </div>
            <!-- /.card-body -->
            <table width="350px" style="margin-left: 20px; margin-bottom: 10px">
                <tr>
                    <td>
                        <div>
                            <button onclick="return confirm('Xác nhận lưu')" type="submit" class="btn btn-primary"> <i class="fas fa-save"></i> Lưu lại</button>
                        </div>
                    </td>
                    <td>
                        <div>
                            <a class="btn btn-success" href="https://localhost:44386/Admin/listViewClassifi/"><i class="fa-solid fa-circle-plus"></i> Thêm mới</a>
                        </div>
                    </td>
                    @*<td>

            <button class="btn btn-danger">
                <i class="fa-solid fa-trash-can"></i>   @Html.ActionLink("Xoá", "deleteClassifi", "Admin", new { id = ViewBag.ID },
                                            new { onClick = "return confirm('Bạn có chắc muốn xoá')" }/* , new { @class = "btn btn-outline-danger" }*/)
            </button>
        </td>*@
                    
                        <td>
                            <a onclick="return confirm('Bạn có chắc muốn xoá')" class="btn btn-danger" href="@Url.Action("deleteClassifi", "Admin", new { id= ViewBag.ID } )"><i class="fa-solid fa-trash-can"></i> Xoá</a>
                        </td>
                    


                </tr>
            </table>
        </form>
    </div>
    <b style="color: red">@ViewBag.Error</b>
    <!-- /.card -->
}
<br />
<table class="table table-striped">
    <colgroup>
        <col width="75" span="1">
        <col width="400" span="1">
    </colgroup>
    <thead style="background-color: #bdc5f0">
        <tr>
            <th>Mã số</th>
            <th>Tên xếp loại</th>
            <th>Tuỳ chỉnh</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (Classification item in ((ViewBag.listView) as IEnumerable<Classification>))*@

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.classifiID</td>
                <td><a href="@Url.Action("listViewClassifi", "Admin", new { id = item.classifiID , idPage = Model.PageNumber})">@item.clsName</a> </td>
                <td>
                    <button class="btn btn-outline-warning">
                        @*@Html.ActionLink("Sửa", "modiClassifi", "Admin", new { id = item.classifiID })*@
                        <a href="@Url.Action("listViewClassifi", "Admin", new { id = item.classifiID , idPage = Model.PageNumber})"><i class="fas fa-edit"></i> Sửa</a>
                    </button>
                    <button class="btn btn-outline-danger">
                        <i class="fa-solid fa-trash-can"></i>   @Html.ActionLink("Xoá", "deleteClassifi", "Admin", new { id = item.classifiID },
                           new { onClick = "return confirm('Bạn có chắc muốn xoá')" }/* , new { @class = "btn btn-outline-danger" }*/)
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="phanTrang" style="float: left">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("listViewClassifi", "Admin", new { idPage = page }))
</div>

<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>-->
<!-- Modal -->

<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>-->

<!-- Modal -->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>-->

